@tailwind base;
@tailwind components;
@tailwind utilities;
@import "./../node_modules/react-tooltip/dist/react-tooltip.css";
@import url("https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Mulish:ital,wght@0,200..1000;1,200..1000&display=swap");

:root {
  --vw: 100vw;
  --padding-header: 9.375rem;
  --height-header: 4.25rem;
  --text-color: #000000;
  --link-color: #2f80ed;
}

@layer components {
  .btn-action-header {
    @apply flex flex-col items-center;
  }
  .p-action-header {
    @apply text-[0.813rem] font-medium whitespace-nowrap;
  }
}
.parent:hover > .child-span {
  visibility: visible;
  opacity: 1;
}

.scroll-setting {
  &::-webkit-scrollbar {
    width: 10px;
  }
  &::-webkit-scrollbar-thumb {
    background-color: rgba(0, 0, 0, 0.1);
    border-radius: 7px;
  }
  &::-webkit-scrollbar-track {
    background-color: #ffffff;
  }
}

.ss_item img {
  transition: transform 0.5s ease;
}

.ss_item:hover img {
  transform: scale(1.1);
}

@media (min-width: 1286px) {
  .btn-chuyentrang {
    display: block;
  }
  .menuSection3 {
    overflow: hidden;
  }
}
