@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --vw: 100vw;
  --padding-header: 9.375rem;
  --height-header: 4.25rem;
  --text-color: #000000;
}
@layer components {
  .btn-action-header {
    @apply flex flex-col items-center;
  }
  .p-action-header {
    @apply text-[0.813rem] font-medium whitespace-nowrap;
  }
  .navlink-header {
    @apply text-[1rem]  flex items-center gap-1 font-semibold;
  }
}
.parent:hover > .child-span {
  visibility: visible;
}

.scroll-setting {
  &::-webkit-scrollbar {
    width: 12px;
  }
  &::-webkit-scrollbar-thumb {
    background-color: rgba(0, 0, 0, 0.1);
    border-radius: 7px;
  }
  &::-webkit-scrollbar-track {
    background-color: #ffffff;
  }
}

.policies-item {
  font-size: 14px;
  padding: 10px;
  display: flex;
  gap: 10px;
}
.policies-title {
  font-size: 16px;
  font-weight: bold;
  line-height: 1.2;
  margin-bottom: 5px;
}
.ss_item {
  position: relative;
  padding: 30px 15px;
  transition: transform 3 linear;
  flex: 0 0 12.5%;
  /* max-width: 30%; */
}
.ss_name {
  text-align: center;
  font-size: 18px;
  font-weight: 500;
}
.ss_info {
  margin-top: 9px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.ss_number {
  font-size: 14px;
  color: #888;
  font-weight: 500;
}
.ss_item:hover img {
  transform: scale(1.1); /* Phóng to hình ảnh khi hover */
}

.ss_item:hover .ss_name {
  font-size: 1.2em; /* Tăng kích thước font của ss_name khi hover */
}
